body {
	background-color: #000000;
	font-family: Arial, Helvitica, sans-serif;
	color: #EDEDED;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	text-align: center
}

h2 {
	font-size: 20;
	text-align: center
}